[user]
    email = ryan@ryandowling.me
    name = Ryan Dowling
    signingKey = 5539FCDB88950EFD
[push]
    default = upstream
[core]
    editor = vim
    pager = diff-so-fancy | less -FXRi
[commit]
    gpgSign = true
